.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }

.search-bar {
    max-width: 400px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-bar input {
    border-radius: 50px;
    padding: 12px 15px;
    font-size: 16px;
}
.search-bar input:focus {
    box-shadow: none;
    border: none;
}
.input-group-text {
    border-radius: 50px 0 0 50px;
}

.message-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.message-box.show {
    opacity: 1;
    transform: translateY(0);
}

.message-box.alert-success {
    background-color: #28a745;
}

.message-box.alert-warning {
    background-color: #ffc107;
}

.message-box.alert-danger {
    background-color: #dc3545;
}