{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
        <div class="container-fluid">
            <div class="row chat-container">
                <div class="col-md-3 chat-sidebar">
                    <div class="input-group mb-2">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                        <input type="text" id="search-friends" class="form-control" placeholder="Search friends...">
                    </div>
                    <div id="friends-list"></div>
                </div>
                <div class="col-md-9 chat-window">
                    <div class="chat-header">
                        <h5 id="chat-username">Select a friend to chat</h5>
                    </div>
                    <div id="chat-messages" class="chat-messages">
                        
                    </div>
                    
                    <div class="chat-input">
                        <input type="text" id="message-input" class="form-control" placeholder="Type a message...">
                        <button class="btn btn-primary" id="send-button">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="current-user" data-username="{{ request.user.username }}" hidden></div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}