{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}


<section class="background-radial-gradient d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-glass">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-4" style="text-transform: uppercase;">{{ user.username }}'s Profile</h3>
                        <form id="updateForm">
                            {% if messages %}
                                <div class="alert-container">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% csrf_token %}

                            <div class="form-outline mb-4">
                                <input type="text" id="first_name" class="form-control fw-bold" name="first_name" value= "{{ user.first_name }}" />
                                <!-- <label class="form-label" for="first_name">First name</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="last_name" class="form-control fw-bold" name="last_name" value="{{ user.last_name }}" />
                                <!-- <label class="form-label" for="last_name">Last name</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="email" name="email" class="form-control fw-bold" value="{{ user.email }}" required />
                                <!-- <label class="form-label" for="email">Email address</label> -->
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter new password (optional)" />
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block w-100 btn-update" disabled>
                                U p d a t e
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}